/* CSS RESET */

*, *::after, *::before {
   box-sizing:border-box;
}

element.style {
  border-radius:60%;
  padding:1.7em;
  width: 100vw;
  height: 100vw;
}

:root {
   --font-sans:Helvetica, Arial, sans-serif;
   --font-serif:Cambria, Georgia, serif;


   --color-neutral-light:#ede9e9;
   --color-neutral-medium:#999191;
   --color-neutral-dark:#343030;

   --color-main-light:#e5f1f2;
   --color-main-medium:#4ba0a8;
   --color-main-dark:#0a4349;

   --color-white:#fff;
   --color-black:#111;

   --header-height:3rem;
}

body {
   margin:0;
   font-size:100%;
   font-family:var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family:var(--font-sans);
}

a {
   color:inherit;
   text-decoration:none;
   font-weight:bold;
}
a:hover {
   text-decoration: underline;
}





/* Layout Classes */
.hidden { display:none; }

.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex:1 1 auto; }
.flex-none { flex:none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }
.flex-vertical { flex-direction:column; }




.overscroll {
  overflow:auto;
  height:100%;
  width:100%;
}
.no-touch { pointer-events:none; }
.do-touch { pointer-events:all; }






/* PAGE ELEMENTS */
[data-role="page"].ui-page-active {
   display:flex;
   flex-direction:column;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   overflow:hidden;
}
[data-role="main"] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
}
[data-role="footer"],
[data-role="header"] {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width:0;
   background-color: #d97a27;
   box-shadow:0 0 5px rgba(0,0,0,0.2);
   position:relative;
   overflow:hidden;
}

.ui-header .ui-title {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   text-align:center;
   margin:0;
   font-size:1rem;
   padding:0;
}






/* Navigation Elements */
.header a,
[data-role="header"] a,
[data-role="footer"] a {
  display:block;
  margin:0;
}

.header ul,
[data-role="header"] ul,
[data-role="footer"] ul {
  list-style-type:none;
  margin:0;
  padding:0;
  display:flex;
  position:relative;
}
[data-role="footer"] li {
  text-align:center;
  flex: 1 1 auto;
}

.header a,
[data-role="header"] a {
  padding: 0 1em;
}


.header {
  width:100%;
   height: var(--header-height);
   line-height: var(--header-height);
}





/* FORM ELEMENTS */
.form-control {
    margin: 1em 0;
}
.ui-mobile .form-label {
    margin: 1em 0;
    font-size: 0.7em;
    color: var(--color-neutral-medium);
}
.form-input {
    width: 100%;
    display: inline-block;
    border: 1px solid; /*var(--color-neutral-medium);*/
    border-color: #ed1c24; 
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    outline: 0;
    font:inherit;
}
.form-button {
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    border-width:0;
    background-color:#ed1c24; //*var(--color-neutral-light);*//
    outline: 0;
    width: 100%;
    display: inline-block;
    font:inherit;
    text-align:center;
    cursor:pointer;
}
.form-button:hover {
   text-decoration:none;
   background-color:var(--color-neutral-medium);
}

.form-select {
   position: relative;
}
.form-select>select {
   display:inline-block;
   width:100%;
   border-width:0;
   background-color:var(--color-neutral-light);
   padding:0.5em 2em 0.5em 1em;
   border-radius:0.3em;
   font:inherit;
   outline:0;
   position:relative;
   overflow:hidden;
   -webkit-appearance:none;
}
.form-select::after {
   position:absolute;
   top:50%;
   right:0.5em;
   content:'▼';
   font-family:arial;
   font-size:0.9em;
   color:var(--color-neutral-dark);
   pointer-events:none;
   transform: translateY(-50%);
}
.hotdog {
    display: inline-flex;
    width: 100%;
    border-width: 0;
    background-color: var(--color-neutral-light);
    border-radius: 2em;
}
.hotdog>input {
    flex: 1;
    background-color: transparent;
    border-width: 0;
    line-height: 2.5;
    padding: 0 1em;
    outline: 0;
    font-size: inherit;
}
.hotdog.hovering {
    background-color:var(--color-white);
    box-shadow:1px 0 5px rgba(0,0,0,0.2)
}




/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    pointer-events:none;
    transition:all 0.3s;
}
.modal.active {
  opacity:1;
}


.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
.modal.active .modal-back {
  pointer-events:initial;
}


.modal-popup {
  position: absolute;
  width:80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,calc(-50% + 5vh));
  border-radius:5px;
  overflow:hidden;
  transition:all 0.3s;
}
.modal.active .modal-popup {
  transform: translate(-50%,-50%);
  pointer-events:initial;
}
.modal-popup.small {
  width:initial;
}




.modal-drawer {
  position:absolute;
  display:flex;
  flex-direction:column;
  transition: all 0.3s;
  box-shadow:0 0 5px rgba(0,0,0,0.3);
}
.modal-drawer.left,
.modal-drawer.right {
  height:100%;
  width:70vw;
}
.modal-drawer.left { left:0; transform:translateX(-100%); }
.modal-drawer.right { right:0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
  height:30vh;
  width:100%;
}
.modal-drawer.top { top:0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom:0; transform:translateY(100%); }

.modal.active .modal-drawer {
  transform:translate(0);
  pointer-events:initial;
}



.modal-drawer.modal-card {
  padding:1em;
  box-shadow:none;
}
.modal-card .modal-body {
  box-shadow:0 0 5px rgba(0,0,0,0.3);
  border-radius:1em;
}




.modal-head,
.modal-foot {
  background-color:var(--color-neutral-light);
  padding:0.5em 1em;
}
.modal-body {
  background-color:var(--color-white);
  flex: 1 1 100%;
  padding:0.5em 1em;
  position:relative;
  overflow:hidden;
}









/* ICONS */
.icon svg,
.icon img {
  width:1.5em;
  height:1.5em;
  vertical-align: text-bottom;
}


.title-icons .title,
.title-icons .icon {
  display:block;
}
.title-icons .icon {
  line-height:calc(var(--header-height)*(2/3));
  font-size:1.5em;
}
.title-icons .title {
  line-height:calc(var(--header-height)*(1/3));
  font-size:1.2em;
}




/* FLOATERS */
.floater { position:absolute; }
.floater.right { right: 0; }
.floater.left { left: 0; }
.floater.top { top: 0; }
.floater.bottom { bottom: 0; }

.floater .icon {
  padding:1em;
  display:block;
}






.circle-button {
  display:inline-block;
  vertical-align:middle;
  background-color:white;
  box-shadow:2px 2px 5px rgba(0,0,0,0.2);
  border-radius:50%;
  height:var(--header-height);
  line-height:var(--header-height);
  width:var(--header-height);
  text-align:center;
  font-size:2em;
}






/* remove this later */
.map {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}







/* ANIMAL PROFILE PAGE */
.animal-top {
  flex:none;
  height:40vh;
  background-position:center;
  background-size:cover;
}
.animal-bottom {
  flex:1 1 100%;
  position:relative;
  overflow:hidden;
}
.animal-bottom-section {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.animal-nav {
  text-align:center;
}

.animal-nav li {
  position:relative;
}
.animal-nav .active::after {
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:3px;
  background-color:var(--color-main-medium);
}
.animal-bottom-section {
  display:none;
}
.animal-bottom-section.active {
  display:block;
}



.animallist {
}
.animallist-item {
  font-weight:normal;
  margin: 1em;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}
.animallist-image img{
  width:100px;
  height:100px;
  vertical-align: middle;
}
.animallist-description {
  padding:1em;
}
.animallist-name {
  font-size:1.3em;
}




.animal-image-thumb img {
  width:6em;
  height:6em;
  vertical-align: middle;
}






.animal-jump * {
  pointer-events:none;
}









.user-profile-image {
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius:50%;
  padding: 2em;
}
.user-profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}