/* CSS RESET */

/*this is my app.css**/
/* CSS RESET */

.element.style {
  border-radius:60%;
  padding:1.7em;
  width: 100vw;
  height: 100vw;
}

element.style {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(229, 227, 223);
}
//*.element.style {
  border-radius: 60%;
}*//
*, *::after, *::before {
   box-sizing:border-box;
}

:root {
   --font-sans:Helvetica, Arial, sans-serif;
   --font-serif:Cambria, Georgia, serif;


   --color-neutral-light:#ede9e9;
   --color-neutral-medium:#999191;
   --color-neutral-dark:#343030;

   --color-main-light:#e5f1f2;
   --color-main-medium:#4ba0a8;
   --color-main-dark:#0a4349;

   --color-white:#fff;
   --color-black:#111;

   --header-height:3rem;
}

body {
   margin:0;
   font-size:100%;
   font-family:var(--font-sans);
}

h1{
  background-color:#e88024;
  font-size: 3em;
  
}
h2,
h3,
h4,
h5,
h6 {
   font-family:var(--font-sans);
}

a {
   color:inherit;
   text-decoration:none;
   font-weight:bold;
}
a:hover {
   text-decoration: underline;
}


.img{
 border-radius: 50%;
 width: 85em;
 height: 85em;
 margin: 4em;  
}*/


/* Layout Classes */
.hidden { display:none; }

.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { inherit; }
.flex-none { flex:none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }
.flex-vertical { flex-direction:column; }



.overscroll {
  overflow:auto;
  height:100%;
  width:100%;
}
.no-touch { pointer-events:none; }
.do-touch { pointer-events:all; }



/* PAGE ELEMENTS */
[data-role="page"].ui-page-active {
   display:flex;
   flex-direction:column;
}
[data-role="main"] {
   flex: 1 1 100%;
}
[data-role="footer"],
[data-role="header"] {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width:0;
   background-color: var(--color-white);
   box-shadow:0 0 5px rgba(0,0,0,0.2);
   position:relative;
   overflow:hidden;
}

.ui-header .ui-title {
   background-color: #cb6a12;
   position:absolute;
   top:0em;
   left:0;
   width:100%;
   height:100%;
   text-align:center;
   margin:0;
   font-size:1rem;
   padding:0;
}

<<<<<<< HEAD:robinson.tish/Login/lib/css/app.css




=======
  .input{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
  }

.img{
 border-radius:50%;
 width: 250px;
 height:250px;
 align-items: center;
}
>>>>>>> cbad08becac3fea675e5a53d5d818e04c431e508:robinson.tish/jquerymobile/app.css


/* Navigation Elements */
.header a,
[data-role="header"] a,
[data-role="footer"] a {
  display:block;
  margin:0;
}

.header ul,
[data-role="header"] ul,
[data-role="footer"] ul {
  list-style-type:none;
  margin:0;
  padding:0;
  display:flex;
  position:relative;
}
[data-role="footer"] li {
  text-align:center;
  flex: 1 1 auto;
}

.header a,
[data-role="header"] a {
  padding: 0 1em;
}


.header {
  width:100%;
   height: var(--header-height);
   line-height: var(--header-height);
}



/* FORM ELEMENTS */
.form-control {
    margin: 1em 0;
}
.ui-mobile .form-label {
    margin: inherit;
    font-size: 0.7em;
    color: var(--color-neutral-medium);
}
.form-input {
    width: 95%;
    display: inline-block;
    border: 1px solid #d83939;
    margin: 0.5;
    padding: 0.5em 1em;
    border-radius: 2em;
    outline: 0;
    font:inherit;
}
.form-button {
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 3em;
    border-width:0;
    background-color: #dc1717;
    outline: 0;
    width: 100%;
    display: inline-block;
    font:inherit;
    text-align:center;
    cursor:pointer;
}
.form-button:hover {
   text-decoration:none;
   background-color:#f2b3b3;
}


/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    pointer-events:none;
    transition:all 0.3s;
}
.modal.active {
  opacity:1;
}


.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
.modal.active .modal-back {
  pointer-events:initial;
}


.modal-popup {
  position: absolute;
  width:80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,calc(-50% + 5vh));
  border-radius:5px;
  overflow:hidden;
  transition:all 0.3s;
}
.modal.active .modal-popup {
  transform: translate(-50%,-50%);
  pointer-events:initial;
}
.modal-popup.small {
  width:initial;
}




.modal-drawer {
  position:absolute;
  display:flex;
  flex-direction:column;
  transition: all 0.3s;
  box-shadow:0 0 5px rgba(0,0,0,0.3);
}
.modal-drawer.left,
.modal-drawer.right {
  height:100%;
  width:70vw;
}
.modal-drawer.left { left:0; transform:translateX(-100%); }
.modal-drawer.right { right:0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
  height:30vh;
  width:100%;
}
.modal-drawer.top { top:0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom:0; transform:translateY(100%); }

.modal.active .modal-drawer {
  transform:translate(0);
  pointer-events:initial;
}



.modal-drawer.modal-card {
  padding:1em;
  box-shadow:none;
}
.modal-card .modal-body {
  box-shadow:0 0 5px rgba(0,0,0,0.3);
  border-radius:1em;
}




.modal-head,
.modal-foot {
  background-color:var(--color-neutral-light);
  padding:0.5em 1em;
}
.modal-body {
  background-color:var(--color-white);
  flex: 1 1 100%;
  padding:0.5em 1em;
  position:relative;
  overflow:hidden;
}





/* ICONS */
.icon svg,
.icon img {
  width:1em;
  height:1em;
  vertical-align: text-bottom;
}


.title-icons .title,
.title-icons .icon {
  display:block;
}
.title-icons .icon {
  line-height:calc(var(--header-height)*(2/3));
  font-size:1.5em;
}
.title-icons .title {
  line-height:calc(var(--header-height)*(1/3));
  font-size:1em;
}




/* FLOATERS */
.floater { position:absolute; }
.floater.right { right: 0; }
.floater.left { left: 0; }
.floater.top { top: 0; }
.floater.bottom { bottom: 0; }

.floater .icon {
  padding:1em;
  display:block;
}






.circle-button {
  display:inline-block;
  vertical-align:middle;
  background-color:white;
  box-shadow:2px 2px 5px rgba(0,0,0,0.2);
  border-radius:50%;
  height:var(--header-height);
  line-height:var(--header-height);
  width:var(--header-height);
  text-align:center;
  font-size:2em;
}






/* remove this later */
.map {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}







/* ANIMAL PROFILE PAGE */
.animal-top {
  flex:none;
  height:40vh;
  background-position:center;
  background-size:cover;
}
.animal-bottom {
  flex:1 1 100%;
  position:relative;
  overflow:hidden;
}
.animal-bottom-section {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.animal-nav {
  text-align:center;
}

.animal-nav li {
  position:relative;
}
.animal-nav .active::after {
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:3px;
  background-color:var(--color-main-medium);
}
.animal-bottom-section {
  display:none;
}
.animal-bottom-section.active {
  display:block;
}



.animallist {
}
.animallist-item {
  font-weight:normal;
  margin: 1em;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}
.animallist-image img{
  width:100px;
  height:100px;
  vertical-align: middle;
}
.animallist-description {
  padding:1em;
}
.animallist-name {
  font-size:1.3em;
}




.animal-image-thumb img {
  width:6em;
  height:6em;
  vertical-align: middle;
}






.animal-jump * {
  pointer-events:none;
}









.user-profile-image {
  text-align: center;
  padding: 2em;
}
.user-profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}









/*this is hamilton's app.css**/


*, *::after, *::before {
   box-sizing:border-box;
}

:root {
   --font-sans:Helvetica, Arial, sans-serif;
   --font-serif:Cambria, Georgia, serif;


   --color-neutral-light:#ede9e9;
   --color-neutral-medium:#999191;
   --color-neutral-dark:#343030;

   --color-main-light:#e5f1f2;
   --color-main-medium:#4ba0a8;
   --color-main-dark:#0a4349;

   --color-white:#fff;
   --color-black:#111;

   --header-height:3rem;
}

body {
   margin:0;
   font-size:100%;
   font-family:var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family:var(--font-sans);
}

a {
   color:inherit;
   text-decoration:none;
   font-weight:bold;
}
a:hover {
   text-decoration: underline;
}





/* Layout Classes */
.hidden { display:none; }

.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex:1 1 auto; }
.flex-none { flex:none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }
.flex-vertical { flex-direction:column; }




.overscroll {
  overflow:auto;
  height:100%;
  width:100%;
}
.no-touch { pointer-events:none; }
.do-touch { pointer-events:all; }






/* PAGE ELEMENTS */
[data-role="page"].ui-page-active {
   display:flex;
   flex-direction:column;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   overflow:hidden;
}
[data-role="main"] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
}
[data-role="footer"],
[data-role="header"] {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width:0;
   background-color: var(--color-white);
   box-shadow:0 0 5px rgba(0,0,0,0.2);
   position:relative;
   overflow:hidden;
}

.ui-header .ui-title {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   text-align:center;
   margin:0;
   font-size:1rem;
   padding:0;
}






/* Navigation Elements */
.header a,
[data-role="header"] a,
[data-role="footer"] a {
  display:block;
  margin:0;
}

.header ul,
[data-role="header"] ul,
[data-role="footer"] ul {
  list-style-type:none;
  margin:0;
  padding:0;
  display:flex;
  position:relative;
}
[data-role="footer"] li {
  text-align:center;
  flex: 1 1 auto;
}

.header a,
[data-role="header"] a {
  padding: 0 1em;
}


.header {
  width:100%;
   height: var(--header-height);
   line-height: var(--header-height);
}





/* FORM ELEMENTS */
.form-control {
    margin: 1em 0;
}
.ui-mobile .form-label {
    margin: 1em 0;
    font-size: 0.7em;
    color: var(--color-neutral-medium);
}
.form-input {
    width: 100%;
    display: inline-block;
    border: 1px solid var(--color-neutral-medium);
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    outline: 0;
    font:inherit;
}
.form-button {
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    border-width:0;
    background-color:var(--color-neutral-light);
    outline: 0;
    width: 100%;
    display: inline-block;
    font:inherit;
    text-align:center;
    cursor:pointer;
}
.form-button:hover {
   text-decoration:none;
   background-color:var(--color-neutral-medium);
}







/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    pointer-events:none;
    transition:all 0.3s;
}
.modal.active {
  opacity:1;
}


.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
.modal.active .modal-back {
  pointer-events:initial;
}


.modal-popup {
  position: absolute;
  width:80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,calc(-50% + 5vh));
  border-radius:5px;
  overflow:hidden;
  transition:all 0.3s;
}
.modal.active .modal-popup {
  transform: translate(-50%,-50%);
  pointer-events:initial;
}
.modal-popup.small {
  width:initial;
}




.modal-drawer {
  position:absolute;
  display:flex;
  flex-direction:column;
  transition: all 0.3s;
  box-shadow:0 0 5px rgba(0,0,0,0.3);
}
.modal-drawer.left,
.modal-drawer.right {
  height:100%;
  width:70vw;
}
.modal-drawer.left { left:0; transform:translateX(-100%); }
.modal-drawer.right { right:0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
  height:30vh;
  width:100%;
}
.modal-drawer.top { top:0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom:0; transform:translateY(100%); }

.modal.active .modal-drawer {
  transform:translate(0);
  pointer-events:initial;
}



.modal-drawer.modal-card {
  padding:1em;
  box-shadow:none;
}
.modal-card .modal-body {
  box-shadow:0 0 5px rgba(0,0,0,0.3);
  border-radius:1em;
}




.modal-head,
.modal-foot {
  background-color:var(--color-neutral-light);
  padding:0.5em 1em;
}
.modal-body {
  background-color:var(--color-white);
  flex: 1 1 100%;
  padding:0.5em 1em;
  position:relative;
  overflow:hidden;
}









/* ICONS */
.icon svg,
.icon img {
  width:1em;
  height:1em;
  vertical-align: text-bottom;
}


.title-icons .title,
.title-icons .icon {
  display:block;
}
.title-icons .icon {
  line-height:calc(var(--header-height)*(2/3));
  font-size:1.5em;
}
.title-icons .title {
  line-height:calc(var(--header-height)*(1/3));
  font-size:0.7em;
}




/* FLOATERS */
.floater { position:absolute; }
.floater.right { right: 0; }
.floater.left { left: 0; }
.floater.top { top: 0; }
.floater.bottom { bottom: 0; }

.floater .icon {
  padding:1em;
  display:block;
}






.circle-button {
  display:inline-block;
  vertical-align:middle;
  background-color:white;
  box-shadow:2px 2px 5px rgba(0,0,0,0.2);
  border-radius:50%;
  height:var(--header-height);
  line-height:var(--header-height);
  width:var(--header-height);
  text-align:center;
  font-size:2em;
}






/* remove this later */
.map {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}







/* ANIMAL PROFILE PAGE */
.animal-top {
  flex:none;
  height:40vh;
  background-position:center;
  background-size:cover;
}
.animal-bottom {
  flex:1 1 100%;
  position:relative;
  overflow:hidden;
}
.animal-bottom-section {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.animal-nav {
  text-align:center;
}

.animal-nav li {
  position:relative;
}
.animal-nav .active::after {
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:3px;
  background-color:var(--color-main-medium);
}
.animal-bottom-section {
  display:none;
}
.animal-bottom-section.active {
  display:block;
}



.animallist {
}
.animallist-item {
  font-weight:normal;
  margin: 1em;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}
.animallist-image img{
  width:100px;
  height:100px;
  vertical-align: middle;
}
.animallist-description {
  padding:1em;
}
.animallist-name {
  font-size:1.3em;
}




.animal-image-thumb img {
  width:6em;
  height:6em;
  vertical-align: middle;
}






.animal-jump * {
  pointer-events:none;
}









.user-profile-image {
  text-align: center;
  padding: 2em;
}
.user-profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}